<header class="head">

<div class="headbuttonmain">

  <div class="btndiv1">
  <button class="headbtns">Купити</button>
  <button class="headbtns">Орендувати</button>
  <button class="headbtns">Продати</button>
  </div>

  <div class="btndiv2">
  <button class="headbtns">Обране</button>
  <button class="headbtns">Увійти</button>
  <button class="headbtns">Служба турботи 24/7</button>
  </div>

</div>

  <div class="textdiv">
    <p class="intrtext">Швидкий пошук житла</p>
  </div>

  <div class="selectors">

    <div>
    <select class="slc1">
      <option value="1">Купити квартиру</option>
      <option value="2">Купити приватний будинок</option>
      <option value="3">Купити частину будинку</option>
      <option value="4">Купити дачу </option>
      <option value="5">Купити ділянку</option>
      <option value="6">Купити комерційну нерухомість</option>
      <option value="7">Купити офіс</option>
      <option value="8">Купити гараж</option>
    </select>
    </div>

    <div>
      <select class="slc2">
        <option value="1">Новобудови</option>
        <option value="2">Купити приватний будинок</option>
        <option value="3">Купити частину будинку</option>
      </select>
    </div>

    <div>
      <input class="cityInput" type="text" placeholder="Введіть назву міста"/>
    </div>

    <div>
      <button class="slcbtn">Пошук</button>
    </div>

  </div>

</header>

<app-accommodation></app-accommodation>
