@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
  font-family: 'Noto Sans', sans-serif;
}

.itemContent{
  margin-bottom: 30px;
  padding: 20px 0 20px 20px;
  background-color: #f0f3f3;
  border-radius: 30px;
  display: flex;
}

.housePhoto{
  max-height: 400px;
  max-width: 300px;
  border-radius: 27px;
}

.itemInfo{
  margin-left: 40px;
}

